# Dependencies
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Environment variables
.env
.env.local
.env.*.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

/dist
/build
/coverage
/logs
/temp

firebase-adminsdk-wnp7v-82f7c2b46c.json